@model IEnumerable<TheTopProject.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<div style="margin:20%">

    <p>
        <a asp-action="Create">Add Category</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImageFile)
                </th>
               
                <th>
                    @Html.DisplayNameFor(model => model.DateofAdd)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    <img src="@Url.Content("~/assets/img/Category/" + item.Image)" style="width:30%"/>
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.DateofAdd)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" >Edit</a> 
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>